/*utilizando variavel para cor*/
:root{
    --dark-blue:#003366;
    --green:#49AA26;
    --light-green:#3dd705;
    --red: #e92929;
    --body:#F0F8FF;
    --cinza:#DCDCDC;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 93.75%;/*mesmo que 15px,claculo para achar é
    (100 * px)/16*/
}
body{
    background-color: var(--body);
    font-family:'Poppins',sans-serif;
}
h3{
    font-weight: normal;
    font-size: 1rem;
}
h2{
    font-weight: normal;
    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header{
	background: #2D4A22;
	padding: 2rem 0 10rem;
	text-align: center;
	}
	balance {
		margin-top: -8rem;
		
	}
.dados{
background: var(--cinza);
padding: 1.5rem 2rem;
border-radius: 0.20rem;
margin-bottom: 2rem;
}
#timer{
	
	background: var(--cinza);
	padding: 1.5rem 2rem;
	border-radius: 0.20rem;
	margin-bottom: 2rem;
	color: red;
    text-align: center;
    font-size: 50px;
    display: none;
}

span{
    font-size: 2rem;
    line-height: 3rem;
    margin-top: 1rem;
}
input{
    border: none;
    border-radius: 0.2rem;
    width: 50%;
    padding: 0.8rem;
    font-size: 16px;
    text-align: center;
    vertical-align:middle;    

}
button{

    width: 40%;
    height: 30px;
    border: 2px var(--red) solid;
    color: var(--dark-blue);
    background: var(--green);
    padding: 0;
    border-radius: 0.25rem;
    cursor: pointer;
	opacity: 0.6;
}
button:hover{
    opacity: 1;;
}
.button.zera{
    color:var(--dark-blue);
    border: 2px var(--red) solid;
    border-radius: 0.25rem;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0.6;
}
.button.zera:hover{
    opacity: 1;
}
/*responsivo*/
@media(min-width:800px){
    hml{
        font-size: 87.5%;/*14px  (87.5 *16)/100 */
    }
    #balance{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;/* ou
        grid-template-columns: repeat(3, 1fr)*/;
        gap: 2rem;
    }
}
